.myPageHeader{margin: 50px 0;}
.myPageHeader>div{display: flex; justify-content: space-between;} /* 프로필, 메뉴 부모 */
.myPageHeader>div>div{display: flex; justify-content: space-between; align-items: center;} /* 프로필, 메뉴 */
.myPageHeader>div>div:nth-child(1){padding: 10px; border: 1px solid #F25774; border-radius: 15px;} /* 프로필 */
.myPageHeader>div>div:nth-child(1)>img{width: 79px; height: 79px; object-fit: cover; border-radius: 20px;} /* 프로필 사진 */
.myPageHeader>div>div:nth-child(1)>p{margin: 0 10px; font-size: 25px; font-family: 'SBAggroB'; color: #F25774; word-wrap: break-word;} /* 닉네임 */
.myPageHeader>div>div:nth-child(1)>div{width: 25px; height: 25px; background-color: #F25774; border-radius: 10px; align-self: flex-start; display: flex; align-items: center; justify-content: center;} /* 프로필설정 아이콘 박스 */
.myPageHeader>div>div:nth-child(1)>div>img{width: 17px; height: 17px; object-fit: cover;} /* 프로필설정 아이콘 */

.myPageHeader>div>div:nth-child(2)>div{margin-left: 2vw; font-family: 'SBAggroM'; font-size: 21px;} /* 마이페이지 메뉴 */
#myPageCheck{color: #F25774;} /* 클릭된 곳 */
#myPageCheck>hr{border-color: #F25774; border-top: 0;} /* 클릭된 곳 hr */

.myPageHeader>hr{margin-top: 40px;} /* 프로필, 메뉴 밑에 hr */

/* 프로필 사진, 닉네임 수정 폼 */
#myProfileSet{position: fixed; width: 100vw; height: 100vh; top: 0; left: 0; background-color: rgba(141, 141, 141, 0.363); display: flex; justify-content: center; align-items: center; display: none;}
#myProfileSet>div{width: 50vw; height: 30vw; border: 1px solid #F25774; border-radius: 30px; background-color: white; display: flex; flex-direction: column; align-items: center; justify-content: space-around; position: relative;}
#myProfileSet>div>img:nth-child(1){width: 20vw; height: 20vw; border-radius: 30px; object-fit: cover;}
#myProfileSet>div>form:nth-child(2){display: flex; align-items: center;}
#myProfileSet>div>form:nth-child(2)>label{padding: 10px 10px 7px; background-color: #F25774; border-radius: 10px; display: inline-block; cursor: pointer; color: white;}
#inputFile{display: none;}
#myProfileSet>div>form:nth-child(2)>button:nth-child(3){width: 50px; height: 41px; background-color: white; border: 1px solid #F25774; border-radius: 10px; margin-left: 5px; color: #F25774; cursor: pointer;}
#myProfileSet>div>form:nth-child(3){display: flex; align-items: center;}
#myProfileSet>div>form:nth-child(3)>p{margin-right: 20px; font-size: 25px; font-family: 'SBAggroB'; color: #F25774;}
#nickNameUpdate{width: 300px; padding: 3px 10px; border: 1px solid #a1a1a1; border-radius: 10px; margin-right: 10px; outline: unset; font-size: 25px; font-family: 'SBAggroB'; color: #F25774; text-align: center;}
#myProfileSet>div>form:nth-child(3)>button:nth-child(3){width: 50px; height: 38px; background-color: white; border: 1px solid #F25774; border-radius: 10px; margin-right: 5px; color: #F25774; cursor: pointer;}
#myProfileSet>div>form:nth-child(3)>button{width: 50px; height: 38px; background-color: #F25774; border: unset; border-radius: 10px; color: white; cursor: pointer;}
#myProfileSet>div>p{color: #F25774; cursor: pointer; font-size: 20px;}