/* 상품 */
.product>div>div{display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;}
.product>div>div>div{height: 125px; display: flex;}
.product>div>div>div>img{width: 125px; height: 125px; margin-right: 1vw; object-fit: cover; border-radius: 20px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);}
.product>div>div>div>div{display: flex; flex-direction: column; justify-content: space-between;}
.product>div>div>div>div>div>p:nth-child(1){font-size: 14px;}
.product>div>div>div>div>div>p:nth-child(2){width: 30.2vw; height: auto; max-height: 60px; font-family: 'SBAggroM'; font-size: 18px;}
.product>div>div>div>div>p:nth-child(2){font-size: 14px;}
.product>div>div>div>div>p:nth-child(3){font-size: 12px;}
.product>div>div>div>div>p:nth-child(3)>span{margin-left: 0.4vw; color: #f25774;}
.product>div>div>p{font-size: 17px;}
.product>div>div>p:nth-child(3){font-family: 'SBAggroM'; color: #f25774;}
.product>div>div>hr{width: 100%; margin: 30px 0; border-color: #c7c7c7; border-top: 0;}
.product>div>div:last-child>hr{display: none;}